<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>

  {{>navbar}}

  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">

          <!-- left side -->
          <div class="col-md-6 col-12 main_header_right">
            <figure>
                <img src="images/about.jpg" alt="about image" class="img-fluid" title="thapa technical">
            </figure>
          </div>

          <div class="col-md-6 col-12 main_header_left">
            <p>welcome to weather info web app </p>
            <h1>I am a <span>front end developer</span> ,and a student of computer science. </h1>
            <a href="https://www.facebook.com/babay.dafadar.10" target="_blank" ><button>About Me</button></a>
          </div>
          <!-- right side -->

        </div>
      </div>
    </div>
  </div>

  {{>footer}}

    
</body>
</html>